<div class="tasklist">
    {{#each tasks}}
        <li> {{@index}}: <a href="task/{{this._id}}">{{this.text}}</a> </li>
        <form action="/alldelete" method="POST" class="delete_form">
            <input type="hidden" name="_id" value="{{this._id}}">
            <input class="all_delete_button" type="submit" name="done" value="Delete All Completed Tasks!">
    {{else}}
        </form>
        <P>No tasks have been completed!</P>
    {{/each}}
</div>




